body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #BADA55;
  color: #333333;
}
body::after {
  yamoney-nodejs-school: 'Hello, Yamoney Node.Js School!';
}
/*Тест удаления комментариев*/